.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  input{
    border: none;
    margin: 2px;
    padding: 5px;
    padding-left: 10px;
    background-color: #edf5ff;
  }

  p{margin: 5px;}